body {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(pink, white);
    padding: 50px;
}

h1 {
    text-align: center;
    color: white;
    font-family: Verdana;
}

nav {
    padding: 20px; 
    margin: 10px;  
    text-align: center;
}

nav a {
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

main{
    width: 80%;
    margin: auto;
}

h2 {
    color: magenta;
    border-bottom: 3px double mediumvioletred;
}

p a {
    color: black;
    text-decoration: none;
}

p a:hover {
    color: coral;
    border-bottom: 3px solid coral;
}

p a:focus {
    color: fuchsia;
    border-bottom: 3px solid fuchsia;
}

p img { 
    width: 90px;
}

p {
    font-size: 30px;
}

.iframe{
    display: inline-block;
    width: 25%;
    margin: auto;
}

.mus{
    text-align: center;
}

img {
    width: 250px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.gallery-item img:hover {
    transform: scale(2); 
}

footer img {
    width: 50px;
}

footer {
    background-image: linear-gradient(white, pink);
    text-align: center;
    margin-top: 30px;
}
